{
  "extends": "airbnb",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-use-before-define": "off",
    "no-undef": "off",
    "no-restricted-syntax": "off",
    "max-len": "off",
    "no-param-reassign": "off"
  }
}